<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chess3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>601565981C1BB31D00E7F3F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601565B11C1BB31F00E7F3F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601565BC1C1BB31F00E7F3F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
