<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlackRier1</key>
	<dict>
		<key>name</key>
		<string>马</string>
		<key>location</key>
		<string>030100</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackRider2</key>
	<dict>
		<key>name</key>
		<string>马</string>
		<key>location</key>
		<string>210100</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackBerserker1</key>
	<dict>
		<key>name</key>
		<string>車</string>
		<key>location</key>
		<string>000100</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackBerserker2</key>
	<dict>
		<key>name</key>
		<string>車</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
		<key>location</key>
		<string>240100</string>
	</dict>
	<key>BlackCaster1</key>
	<dict>
		<key>name</key>
		<string>象</string>
		<key>location</key>
		<string>060100</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackCaster2</key>
	<dict>
		<key>name</key>
		<string>象</string>
		<key>location</key>
		<string>180100</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackAssassin1</key>
	<dict>
		<key>name</key>
		<string>士</string>
		<key>location</key>
		<string>090100</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackAssassin2</key>
	<dict>
		<key>name</key>
		<string>士</string>
		<key>location</key>
		<string>150100</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackSaber</key>
	<dict>
		<key>name</key>
		<string>将</string>
		<key>location</key>
		<string>120100</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackArcher1</key>
	<dict>
		<key>name</key>
		<string>炮</string>
		<key>location</key>
		<string>030160</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackArcher2</key>
	<dict>
		<key>name</key>
		<string>炮</string>
		<key>location</key>
		<string>210160</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackLancher1</key>
	<dict>
		<key>name</key>
		<string>卒</string>
		<key>location</key>
		<string>000190</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackLancher2</key>
	<dict>
		<key>name</key>
		<string>卒</string>
		<key>location</key>
		<string>060190</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackLancher3</key>
	<dict>
		<key>name</key>
		<string>卒</string>
		<key>location</key>
		<string>120190</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackLancher4</key>
	<dict>
		<key>name</key>
		<string>卒</string>
		<key>location</key>
		<string>180190</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>BlackLancher5</key>
	<dict>
		<key>name</key>
		<string>卒</string>
		<key>location</key>
		<string>240190</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
</dict>
</plist>
