<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RedSaber</key>
	<dict>
		<key>name</key>
		<string>帅11</string>
		<key>location</key>
		<string>120370</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedRider1</key>
	<dict>
		<key>name</key>
		<string>马08</string>
		<key>location</key>
		<string>030370</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedRider2</key>
	<dict>
		<key>name</key>
		<string>马14</string>
		<key>location</key>
		<string>210370</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedBerserker1</key>
	<dict>
		<key>name</key>
		<string>車07</string>
		<key>location</key>
		<string>000370</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedBerserker2</key>
	<dict>
		<key>name</key>
		<string>車15</string>
		<key>location</key>
		<string>240370</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedCaster1</key>
	<dict>
		<key>name</key>
		<string>相09</string>
		<key>location</key>
		<string>060370</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedCaster2</key>
	<dict>
		<key>name</key>
		<string>相13</string>
		<key>location</key>
		<string>180370</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedAssassin1</key>
	<dict>
		<key>name</key>
		<string>仕10</string>
		<key>location</key>
		<string>090370</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedAssassin2</key>
	<dict>
		<key>name</key>
		<string>仕12</string>
		<key>location</key>
		<string>150370</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedArcher1</key>
	<dict>
		<key>name</key>
		<string>炮05</string>
		<key>location</key>
		<string>030310</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedArcher2</key>
	<dict>
		<key>name</key>
		<string>炮06</string>
		<key>location</key>
		<string>210310</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedLancher1</key>
	<dict>
		<key>name</key>
		<string>兵00</string>
		<key>location</key>
		<string>000280</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedLancher2</key>
	<dict>
		<key>name</key>
		<string>兵01</string>
		<key>location</key>
		<string>060280</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedLancher3</key>
	<dict>
		<key>name</key>
		<string>兵02</string>
		<key>location</key>
		<string>120280</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedLancher4</key>
	<dict>
		<key>name</key>
		<string>兵03</string>
		<key>location</key>
		<string>180280</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
	<key>RedLancher5</key>
	<dict>
		<key>name</key>
		<string>兵04</string>
		<key>location</key>
		<string>240280</string>
		<key>attack</key>
		<string>0</string>
		<key>health</key>
		<string>0</string>
	</dict>
</dict>
</plist>
